# Auto detect text files and perform LF normalization
*.ps1 linguist-language=PowerShell
*.ps1xml linguist-language=PowerShell
*.psd1 linguist-language=PowerShell
*.psm1 linguist-language=PowerShell

*.sh linguist-language=Bash

*.md linguist-language=Markdown
*.md linguist-documentation=true